<h1><%= @student.name %></h1>
<p><%= link_to  "Book appointment with #{@student.name}", tutor_root_path(@student) %></p>
<p><%= link_to  "#{@student.name}'s appointments", tutor_root_path(@student) %></p>

</p>