<nav>
   <%= link_to  "Appointments", appointments_path %>
   <%= link_to  "Students", tutor_students_path %>
 
    <%= form_tag(destroy_user_session_path, method: :delete, style: 'display: inline-block;') do %>
      <%= submit_tag "Sign Out" %>
    <% end %>
  
  </nav>